.sign-up-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    font-family: 'Arial', sans-serif;
}

.sign-up-card {
    background-color: #967dff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin-right: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sign-up-card h2 {
    margin-bottom: 20px;
}

.sign-up-card form {
    display: flex;
    flex-direction: column;
}

.sign-up-card label {
    font-family: 'Kyiv*Type Serif';
    margin-bottom: 10px;
    font-weight: bold;
}

.sign-up-card input {
    padding: 10px;
    border-radius: 15px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}

.sign-up-card button {
    padding: 10px;
    border-radius: 15px;
    border: none;
    background-color: #725dc7;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.sign-up-card button:hover {
    background-color: #423284;
}

.login-link {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
}

.login-link a {
    color: #2f4f4f;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}
